@use "./variables";



#blog {
    background: variables.$ice;
}

//post styles

.blog-main {
    display: flex;
    justify-content: space-between;
    .blog-entry {
        width: 50%;
        .blog-container {
            background: variables.$white;
            padding: 50px;
            position: relative;
            padding-top: 500px;
            height: 165vh;
            border-right: 5px solid variables.$bright-yellow;
            border-bottom: 5px solid variables.$bright-yellow;
            h2 {
                margin-bottom: 30px;
            }
            .date {
                font-style: italic;
                span {
                    font-weight: bold;
                }
            p {
                margin: 20px 0;
            }
            }
            .blog-image {
                width: 100.5%;
                position: absolute;
                top: -50px;
                left: -10px;
                box-shadow: 10px 10px 1px variables.$bright-yellow;
        }
    }
    }
}

//comment styles

.comment-container {
    margin-left: 50px;
    width: 90%;
    h4 {
        margin-left: 70px;
        margin-top: 40px;
    }
    button {
        width: 100%;
        margin: 30px 0;
    }
}

.comment-flex {
    display:flex;
    margin: 40px 30px;

    .davin-photo,
    .lisa-photo {
        margin: 30px;
    }
}

//aside styles

aside {
    width: 25%;
    height: 123vh;
    background: variables.$bright-yellow;
    margin-top: 100px;
    .aside-img {
        position: relative;
        margin-bottom: 200px;
        img {
            width: 95%;
            position: absolute;
            right: 0;
            top: -20px;
            margin-bottom: 200px;
        }
    }
}

.aside-text {
    padding: 200px 30px 0;
    h4 {
        margin-top: 20px;
    }
    .blog-list li {
        list-style-type: disc;
        margin-left: 15px;
    }

}