@use "./variables";

#features {
    height: 80vh;
}

.fa-house,
.fa-people-group,
.fa-file,
.fa-phone-flip {
    padding: 10px;
    background-color: variables.$bright-yellow;
    border-radius: 50%;
    
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    li {
        width: 40%;
        margin: 60px 30px 30px;
        a {
            display: flex;
            h2 {
                padding-left: 10px;
            }
        }
    }
}
