@use "./variables";

//Comment form styles (blog page)

.comment-form {
    margin-left: 30px;
    color: variables.$black;
    input {
        background: variables.$ice;
        width: 46%;
        border: none;
        border-bottom: 2px solid variables.$black;
        margin-right: 20px;
        margin-bottom: 50px;
        &::placeholder {
            opacity: 1;
            color: variables.$black;
        }
    }

        .comment-box {
            resize: none;
            background: variables.$ice;
            border: 2px solid variables.$black;
            width: 100%;
            &::placeholder {
                opacity: 1;
                color: variables.$black;
            }
        
    }
    
}

// Contact page form
#contact-main {
    background: variables.$ice;
    height: 70vh;

}

.form-container {
    background: variables.$white;
    width: 70%;
    height: 78vh;
    z-index: 10;
    padding: 50px;
    box-shadow: 25px 25px 1px variables.$bright-yellow;
    position: relative;
    top: -100px;
    left: -50px;
    input {
    width: 46%;
    border: none;
    background: variables.$white;
    border-bottom: 2px solid variables.$black;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 20px;
        &::placeholder {
        opacity: 1;
        color: variables.$black;
    }
}
}

    .message-box {
        resize: none;
        background: variables.$white;
        border: 2px solid variables.$black;
        width: 94%;
        padding: 20px;
        &::placeholder {
            opacity: 1;
            color: variables.$black;
        }
    }
    

    .contact-button {
        width: 94%;
        margin: 20px 0;
    }

//Contact form flex

.contact {
    display: flex;
    justify-content: space-around;
    
}


.socials {
    display: flex;
    li {
        padding: 20px;
        font-size: 1.5rem;
        a {
            color: variables.$evergreen;
        }
    }
}

.address {
        padding-left: 20px;
    }
