@use "./variables";

//Comment form styles

.comment-form {
    margin-left: 30px;
}

input {
    background: variables.$ice;
    width: 46%;
    border: none;
    border-bottom: 2px solid variables.$black;
    margin-right: 20px;
    margin-bottom: 50px;
}

textarea {
    resize: none;
    background: variables.$ice;
    border: 2px solid variables.$black;
    width: 100%;
    ::placeholder {
        margin: 20px;
    }

}