@use "./variables";

.corners {
    background: variables.$ice;
    height: 102vh;
    position: relative;
    .text-container-1 {
        position:absolute;
        right: 200px;
        top: 100px;
        width: 30%;
    }
    .text-container-2 {
        position: absolute;
        bottom: 100px;
        left: 200px;
        width: 30%;
    }
    .img-container-1 {
        width: 50%;
        img {
            box-shadow: 10px 10px 1px variables.$bright-yellow;
            position: absolute;
            top: -50px;
            left: 0;
        }
    }
    .img-container-2 {
        width: 50%;
        img {
            display: block;
            box-shadow: -10px 10px 1px variables.$bright-yellow;
            position: absolute;
            bottom: -50px;
            right: 0;
            z-index: 10;
            }
    }
}

