@use "./variables";

.wrapper {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
}

button {
    font-family: variables.$heading-font;
    text-align: center;
    color: variables.$white;
    background: variables.$evergreen;
    border: none;
    padding: 10px 20px;
    text-transform: uppercase;
}

input:focus,
textarea:focus {
    outline: none;
}