@use "./variables";

//home page header styles

.home-header {
    position: relative;
    background-image: url(../assets/header-home.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90vh;
    h1 {
        line-height: 1;
        position: absolute;
        top: 50px;
        left: 250px;
        z-index: 10;
        span {
            display: block;
        }
    }
   img {
    width: 52%;
    position: absolute;
    bottom: -90px;
    }
}


.desktop-nav {
    ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 100px;
    }
    li {
        margin-bottom: 15px;
        a {
        padding: 10px;
        margin: 30px 15px 5px;
        &:hover,
        &:focus {
            border-bottom: 4px solid variables.$bright-yellow;
        }
        }
    }
} 

//mobile menu styles
.burger-menu{
    background-color: #F5F5F5;
    width: 100%;
    position: fixed;
    top: 0;
    .mobile-nav {
        .mobile-menu {
            li {
                padding: 0 10px;
            }
        }
    }
}



.logo {
    display: inline-block;
    color: #151514;
    font-family: 'Kumar One', cursive;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 1.2px;
}




.mobile-menu {
    display: flex;
    justify-content: end;
    padding: 10px 30px;
    color: #151514;
}
.mobile-menu a:hover,
.mobile-menu a:focus {
    color: #065635;
}



.burger-menu {
    visibility: hidden;
}

//blog page header styles

h1.logo {
    position: absolute;
    top: 20px;
    left: 200px;
}




#blog-header {
    background-image: url(../assets/blog-image.jpg);
    background-size: 125%;
    background-repeat: no-repeat;
    height: 65vh;
    h3 {
        position: absolute;
        top: 200px;
        left: 200px;
        font-family: variables.$h1-font;
        font-size: 68px;
        text-transform: uppercase;
    }
}


//Contact page header

#contact {
    background-image: url(../assets/contact-image.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 55vh;
    overflow: hidden;
    h1 {
        position: relative;
        left: 80px;
        top: -30px;
    }
    h2 {
        position: relative;
        top: 10px;
        left: 100px;
        font-family: variables.$h1-font;
        font-size: 68px;
    }
}

