@use "./variables";

.home-header {
    position: relative;
    background-image: url(../assets/header-home.jpg);
    background-size: cover;
    height: 90vh;
    h1 {
        /*margin: 50px;*/
        line-height: 1;
        position: absolute;
        top: 50px;
        left: 250px;
        z-index: 10;
        span {
            display: block;
        }
    }
   img {
    width: 52%;
    position: absolute;
    bottom: -50px;
    }
}


.home-desktop-nav {
    ul {
    display: flex;
    justify-content: end;
    margin-right: 100px;
    }
    a {
    padding: 5px;
    margin: 30px 15px 5px;
    &:hover {
        border-bottom: 4px solid variables.$bright-yellow;
    }
    }
} 