@use "./variables";

.search {    
    img {
    width: 100%;
    }
    .search-text {
        text-align: center;
        width: 50%;
        height: 45vh;
        h2 {
            margin-top: 25px;
        }
        p {
        margin: 20px;
        }
    }
}