//Colours:
//first (white): #f5f5f5;
//second (light green): #e0fddf
//third (black): #151514
//fourth (dark green): #065635
//fifth (bright yellow): #f8fB05

//Colours

$white: #f5f5f5;
$ice: #E0FDDF;
$black: #151514;
$evergreen: #065635;
$bright-yellow: #f8fb05;

//Font families

$h1-font: "Kumar One Outline";
$body-font: "Lato";
$heading-font: "Kumar One";

//Font size
$base-font-size: 125%;