//Colours:
//first (white): #f5f5f5;
//second (light green): #e0fddf
//third (black): #151514
//fourth (dark green): #065635
//fifth (bright yellow): #f8fB05

//Colours

$first: #f5f5f5;
$second: #E0FDDF;
$third: #151514;
$fourth: #065635;
$fifth: #f8fb05;

//Font families

$h1-font: "Kumar One Outline";
$body-font: "Lato";
$heading-font: "Kumar One";

//Font size
$base-font-size: 125%;